# Load the required python packages and datasets

In [85]:
import sys
import os
#os.getcwd()
os.chdir('C:\\LUML\\Kaggle\\Rossmann')

In [86]:
os.getcwd()

'C:\\LUML\\Kaggle\\Rossmann'

In [87]:
os.listdir()

['sample_submission.csv', 'store.csv', 'test.csv', 'train.csv']

In [88]:
%matplotlib inline
import matplotlib
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [89]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")
store = pd.read_csv("store.csv")

C:\local\Anaconda3-4.1.1-Windows-x86_64\lib\site-packages\IPython\core\interactiveshell.py:2723: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [90]:
train.head()

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
0,1,5,2015-07-31,5263,555,1,1,0,1
1,2,5,2015-07-31,6064,625,1,1,0,1
2,3,5,2015-07-31,8314,821,1,1,0,1
3,4,5,2015-07-31,13995,1498,1,1,0,1
4,5,5,2015-07-31,4822,559,1,1,0,1

# Basic Data Exploration

In [91]:
train.dtypes

Store             int64
DayOfWeek         int64
Date             object
Sales             int64
Customers         int64
Open              int64
Promo             int64
StateHoliday     object
SchoolHoliday     int64
dtype: object

In [92]:
train['StateHoliday'].unique()

array(['0', 'a', 'b', 'c', 0], dtype=object)

In [93]:
# Need to replace '0' with 0. it will reduce the categories to 4
train.groupby('StateHoliday').size()

StateHoliday
0    131072
0    855087
a     20260
b      6690
c      4100
dtype: int64

In [97]:
#if (train.StateHoliday.isin(['a', 'b', 'c']) == False):
 #    train.StateHoliday == 0

In [68]:
c = train['StateHoliday' == ]
len(c)
#train.groupby('StateHoliday').size()

1017209

In [32]:
train.groupby('SchoolHoliday').size()

SchoolHoliday
0    835488
1    181721
dtype: int64

In [38]:
#0 sales 172871
#0 customers 172869
#train.groupby('Sales').size()
#train.groupby('Customers').size()

In [44]:
# there are two days where sales are 0 and there are only very few customers and the store is open
train[(train.Customers > 0) & (train.Sales == 0)]

,Store,DayOfWeek,Date,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
478649,1100,2,2014-04-29,0,3,1,1,0,0
889932,948,4,2013-04-25,0,5,1,1,0,0

In [45]:
# there is no wrong data.. i mean with sales >0 with no customers
train[(train.Customers == 0) & (train.Sales > 0)]

Empty DataFrame
Columns: [Store, DayOfWeek, Date, Sales, Customers, Open, Promo, StateHoliday, SchoolHoliday]
Index: []

In [48]:
train[(train.Open == 0) & (train.Sales > 0)]

Empty DataFrame
Columns: [Store, DayOfWeek, Date, Sales, Customers, Open, Promo, StateHoliday, SchoolHoliday]
Index: []

In [58]:
#train[(train.StateHoliday == 'c') & (train.Sales > 0)]

In [59]:
#train[(train.SchoolHoliday == 1) & (train.Sales > 0)]

In [98]:
test.head()

   Id  Store  DayOfWeek        Date  Open  Promo StateHoliday  SchoolHoliday
0   1      1          4  2015-09-17   1.0      1            0              0
1   2      3          4  2015-09-17   1.0      1            0              0
2   3      7          4  2015-09-17   1.0      1            0              0
3   4      8          4  2015-09-17   1.0      1            0              0
4   5      9          4  2015-09-17   1.0      1            0              0

In [99]:
store.head()

,Store,StoreType,Assortment,CompetitionDistance,CompetitionOpenSinceMonth,CompetitionOpenSinceYear,Promo2,Promo2SinceWeek,Promo2SinceYear,PromoInterval
0,1,c,a,1270.0,9.0,2008.0,0,NaN,NaN,NaN
1,2,a,a,570.0,11.0,2007.0,1,13.0,2010.0,"Jan,Apr,Jul,Oct"
2,3,a,a,14130.0,12.0,2006.0,1,14.0,2011.0,"Jan,Apr,Jul,Oct"
3,4,c,c,620.0,9.0,2009.0,0,NaN,NaN,NaN
4,5,a,a,29910.0,4.0,2015.0,0,NaN,NaN,NaN